// all browsers above 1280x1024
#wrapper 
	width:1200px;
	clearfix()
	margin:0 auto;

.column_1
	width:100px;

.column_2
	width:200px;

.column_3
	width:300px;

.column_4
	width:400px;

.column_5 
	width:500px;

.column_6
	width:600px;

.column_7
	width:700px;

.column_8 
	width:800px;

.column_9
	width:900px;

.column_10
	width:1000px;

.column_11
	width:1100px;

.column_12
	width:1200px;

.row1, .row2, .row3, .row4
	clearfix();