// all browsers above 1280x1024
#wrapper 
	width:1180px;
	clearfix()
	margin:0 auto;

.column
	width:140px;

.column_2
	width:280px;

.column_3
	width:420px;

.column_4
	width:560px;

.row1, .row2, .row3, .row4
	clearfix();