// all browsers above 1280x1024
#wrapper 
	width:1200px;
	clearfix()
	margin:0 auto;

.column_1
	width:100px;

.column_2
	width:200px;

.column_3
	width:300px;

.column_4
	width:400px;

.column_5 
	width:500px;

.column_6
	width:600px;

.column_7
	width:700px;

.column_8 
	width:800px;

.column_9
	width:900px;

.column_10
	width:1000px;

.column_11
	width:1100px;

.column_12
	width:1200px;

.row1, .row2, .row3, .row4
	clearfix();

@media only screen and (max-width: 767px)
	#wrapper
		width:300px;
	.column_12, .column_11, .column_10, .column_9, .column_8, .column_7, .column_6, .column_5, .column_4
		width:300px;
	.column_1
		width:50px;
	.column_2, .column_3
		width:200px;

@media only screen and (min-width: 768px) and (max-width: 1023px)
	#wrapper
		width:700px;
	.column_10, .column_12, .column_11
		width:700px
	.column_7, .column_8, .column_9
		width:525px;
	.column_4, .column_5, .column_6
		width:350px;
	.column_2, .column_3
		width:200px;
	.column_1
		width:50px;

@media only screen and (min-width: 1024px) and (max-width: 1279px)
	#wrapper
		width:1000px;
	.column_12
		width:1000px;
	.column_11
		width:900px;
	.column_10
		width:800px;
	.column_9
		width:750px
	.column_8
		width:666px;
	.column_7
		width:600;
	.column_6
		width:500px;
	.column_5
		width:400px;
	.column_4
		width:333px;
	.column_3
		width:250px;
	.column_2
		width:200px;
	.column_1
		width:100px;