<div class="row1 about">
	<div class="column_6 col1">
		<h1>About me</h1>
		<section class="about-me">
			<p class="intro">I'm Vicki Keeley, a front end web developer from London. I hate writing 'About Me' pages so here are some key facts instead:</p>
			<p><strong>Born:</strong>1980, Bristol</p>
			<p><strong>Lives:</strong>Plaistow, London</p>
			<p><strong>Pets:</strong>Random the cat</p>
			<p><strong>In my spare time I...</strong>experiment with new code stuff, play computer games, read books, listen to music, climb fake rocks indoors.</p>
			<p><strong>If you're making a brew I'll have...</strong>Redbush tea, milk, no sugar.</p>
			<p><strong>When I was growing up I wanted to be...</strong>A wizard or a hero. Or a heroic wizard.</p>
			<p><strong>Fave games:</strong>Anything where I get to be a hero/wizard (see previous comment). Currently I'm quite addicted to Guild Wars 2.</p>
			<p><strong>Fave authors:</strong>Jeanette Winterson, Murakami, David Mitchell, Bronte, Jasper Fforde, Ali Smith and loads more. Love books &lsaquo;3.</p>
			<p><strong>Fave music:</strong>Anything from Chase &amp; Status to Joan Jett &amp; The Blackhearts to Suzanne Vega to Mussorgsky. Love music &lsaquo;3.</p>
		</section>
	</div>
	<div class="column_6 col2">
		<section class="contact">
			<h2>Find me on the interwebs...</h2>
			<a href="http://uk.linkedin.com/in/vickikeeley/" target="_blank" class="social"><img src="images/linkedin.png" alt="LinkedIn">LinkedIn</a>
			<a href="" target="_blank" class="social"><img src="images/twitter.png" alt="Twitter">Twitter</a>
			<h2>Get in touch...</h2>
			<a href="mailto:hello@srsly.me.uk" target="_blank" class="mailto">hello@srsly.me.uk</a>
		</section>
	</div>
</div>
