.about
	section.about-me
		margin-right:30px;
		border:1px dashed #333;
		border-radius:7px;
		padding:15px;
	section.contact
		margin-left:30px;
		margin-top:80px;
		background:#333;
		border-radius:7px;
		color:#f2f1d4;
		padding:20px;
		h2
			font-family:'Museo 300', Arial, sans-serif;
		a 
			display:inline-block;
			*display:inline;
			zoom:1
			margin-bottom:20px;
			text-decoration:none;
			font-size-rem(2.4);
			margin-left:30px;
			color:#f2f1d4;
			&:hover
				text-decoration:underline;
			&.mailto
				font-family:'Quan-RoundedBoldOblique', Arial, sans-serif;
				font-size-rem(4.8);
				color:#F28B39;
			img
				vertical-align:middle;
				margin-right:10px;
	p
		font-size-rem(2.2);
		&.intro
			margin-bottom:20px;
		strong
			font-family:'Quan-RoundedBold', Arial sans-serif;
			margin-right:10px;